body{
    padding: 0;
    margin: 0;
}

.nav-bar{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(242, 112, 47,0.7);
    color: black;
    display: flex;
    flex-direction: row;
    gap:50px;
   justify-content: center;
}



.nav-bar h2{
    margin-top: 15px;
}


.logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 15px;
}

.profile-pic{
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
}

.profile-pic-img{
    width: 35px;
    height: 35px;
    padding-right: 30px;
}

.collaborator{
    background-color: #FFD80A;
    height: 40px;
    width: 150px;
    border-radius: 5px;
}

.center-p{
    text-align: center;
    line-height: 33px;
    font-size: large;
    font-weight: 600;
}

.logout-flex{
    display: flex;
    flex-direction: column;
    gap:15px;
    /* align-items: center; */
}

.logout-hover{
    z-index: 3;
    position: absolute;
    top: 70px;
    left:91%;
    
    
}
.logout-hover button{
    background-color: #FFD80A;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

.collab-hover{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 23%;
    height: 80px;
    position: absolute;
    top:70px;
    left: 75%;
    background-color: #F6BE5D ;
    border-radius: 5px;
    align-items: center;
    z-index: 3;
}

.collab-hover input{
    /* margin-top: 10px; */
    margin-left: 10px;
    width: 82%;
    height: 50px;

    background-color: #d3d3d3;
    border-radius: 5px;
}

.collab-hover button{
    background-color: #F7810A;
    border-radius: 5px;
    width: 20%;
    height: 50px;
    margin-right: 10px;

}