body{
    padding: 0;
    margin: 0;
}

.nav-bar{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(242, 112, 47,0.7);
    color: black;
    display: flex;
    flex-direction: row;
    gap:50px;
}



.nav-bar h2{
    margin-top: 15px;
}


.logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 15px;
}

.profile-pic{
    margin-left: auto;
    margin-top: 23px;
    
    display: flex;
    flex-direction: row;
    gap:20px;
}

.profile-pic-img{
    width: 35px;
    height: 35px;
    padding-right: 30px;
}

.center-p{
    text-align: center;
    line-height: 33px;
    font-size: large;
    font-weight: 600;
}

.logout-flex{
    display: flex;
    flex-direction: column;
    gap:15px;
    /* align-items: center; */
}

.logout-hover{
    z-index: 3;
    position: absolute;
    top: 70px;
    left:91%;
    
    
}
.logout-hover button{
    background-color: #FFD80A;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}
